.backdrop{
    background-color: #ffffff;
    width: 60%;
    height: 900px;
    align-items: center;
    box-shadow: 3px 0px 5px lightgrey;
}
.text-field{
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}
.header{
font-size: 2vw;
text-transform: uppercase;
cursor: default;
}
.header2{
margin-top: 10%;
font-size: 1.3vw;
text-transform: uppercase;
color: rgb(0, 0, 0);
border-bottom: 2px solid rgb(77, 77, 77);
border-radius: .5%;
}
.txt{
font-size: 1.1vw;
color: rgb(77, 77, 77)
}
.retailers{
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1vw;
    border-collapse: collapse;
}
thead th{
    text-transform: uppercase;
    border-bottom: 2px solid black;
}
.table tbody, td{
    color: rgb(77, 77, 77);
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid rgb(77, 77, 77);
}
.table a{
    text-decoration: none;
    color: rgb(77, 77, 77);
}

.table a:hover{
    color: black;
}
.contact-us p, a{
    text-decoration: none;
    font-weight: bold;
    color: black
}
.contact-us:hover{
    color: rgb(77, 77, 77);
}
