html {
    position: relative;
    min-height: 115%;
}

body {
    margin: 0 0 125px;
    font-family: helvetica;
    background-color: #e9e8e8;
}
/*nav*/
nav {
    display: flex;
    background-color: #00978b;
    height: 75px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
nav a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 650;
    color: #FFFEFB;
    padding: 2px;
    text-transform: uppercase;
}
nav a {
    color: #FFFEFB;
    transition: all 0.3s ease-out;
}
nav a:hover{
    transition: all 0.3s ease-in;
    color: #dadada;
    border-bottom: 1px solid #dadada;
  }
.active {
    border-bottom: 1px solid #FFFEFB;
  }
.logo {
      text-transform: uppercase;
      color: white;
      cursor: pointer;
  }
    /*/nav*/

/*main*/
main{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin-bottom: 15%;
      margin-top: 2%;
}
    /*/main*/

/*footer*/
  footer {
    text-align: center;
    background-color: #00978b;
    color: #FFFEFB;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 125px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
    /*/footer*/
